body {
    font-family: Roboto, sans-serif;
}

.header {
    height: 25%;
    background-color: #1F2937;
    color: white;

    display: flex;
    flex-direction: column;
    padding: 8px 150px 100px;
}

.header-top,
.header-bottom {
    border: 5px dotted skyblue;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo,
.header-links,
.hero-text,
.hero-image {
    border: 1px solid red;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 20px;

}

.header-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.hero-text,
.hero-image {
    width: 50%;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {    
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    padding: 5px 20px;
}

.sign-up {
    margin-top: 5px;
}

.hero-image {
    background-color: grey;
    height: 200px;
    width: 450px;
}

.footer {
    background-color: #1F2937;
    color: white;
    padding: 20px;
    margin-top: 75%;

    display: flex;
    align-items: center;
    justify-content: center;
}