body {
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 8px 150px 100px;
}

/* To show parent layer */
.border-parent {
    /* border: 5px dotted skyblue; */
}

/* To show child layer */
.border-child {
    /* border: 1px solid red; */
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.hero-text,
.hero-image {
    width: 50%;
}

.hero-text {
    padding-right: 18px;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

button {    
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    padding: 5px 20px;
}

.sign-up {
    margin-top: 5px;
}

.hero-image img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 48px;
}

.info-body {
    display: flex;
    justify-content: center;
    gap: 64px
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 1;
    flex-wrap: wrap;
}

.info img {
    width: 150px;
    height: 150px;
}

.subtext {
    text-align: center;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    margin: 64px 64px;
}

.author {
    font-size: 24px;
    font-style: normal;
    font-weight: bolder;
    text-align: right;
    margin-top: 36px;
}

.call-to-action {
    background-color: #3882F6;
    margin: 128px 256px;
    padding: 64px 64px;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
}

.call-to-action > div > :nth-child(1) {    
    color: #F9FAF8;
    font-size: 24px;
}

.call-to-action > div > :nth-child(2) {    
    color: #E5E7EB;
    font-size: 18px;
}

.call-to-action button {
    border: 1px solid #F9FAF8;
    margin-left: 24px;
}

.footer {
    background-color: #1F2937;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}